* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logIn-section {
  font-family: "Poppins", sans-serif;
  background: url("./wallpaperflare.com_wallpaper\ \(1\).jpg") no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(20px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logIn-section .wrapper {
  width: 420px;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.logIn-section .wrapper h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}
.logIn-section .wrapper .input-box {
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin: 30px 0;
  position: relative;
}
.logIn-section .wrapper .input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.logIn-section .wrapper .input-box input::placeholder {
  color: #fff;
}

.logIn-section .wrapper .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.logIn-section .wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.logIn-section .wrapper .remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.logIn-section .wrapper .remember-forgot a {
  color: #fff;
}
.logIn-section .wrapper .remember-forgot a:hover {
  text-decoration: underline;
}
.logIn-section .wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.logIn-section .wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.logIn-section .wrapper .register-link p a {
  color: #fff;
  font-weight: 600;
}

.logIn-section .wrapper .register-link a:hover {
  text-decoration: underline;
}
.logIn-section .wrapper .x {
  transition: 0.3s;
}
.logIn-section .wrapper .x:hover {
  transform: scale(1.1);
}
